< [Contents](0-Contents.ipynb) | [2 Datatypes](2-BasicDatatypes.ipynb) >

# 1 The Basics of Python
## 1.1 Running Python in a Notebook
In order to test pieces of code we can run Python in an interactive window or from the command line. In these Jupyter Notebook we are going to simulate this, so you don't need to open an interactive windiw or work from the command line.

Notebooks have 2 kinds of cells: markdown and code cells. This cell is a markdown cell. You can write text in markdown cells. The next cell is a code cell.

You can type the commands in code cells and execute them by pressing `<shift> + <return>`. The result(s) will be shown **below the code cell**.

If you installed Anaconda and configured VS Code correctly (see [manual](HandleidingVisualStudioCodeMetPython.pdf) how to do this) you should be ready to get started without any problem.

In the code field below type:

```python
    print("Hello, World")
```
Then press `<shift> + <return>` to execute the command.

What happened?

You just created a very simple program that prints the words `Hello, World`. The Python environment that you are in immediately compiles the commands you have typed in.

## 1.2 Python as a calculator
We can use Python as a calculator: we can add, substract, multiply and divide.

Execute the following code cells one by one by pressing `<shift> + <return>`.

In [1]:
3 + 5

8

In [ ]:
21 - 9

In [ ]:
6*6

In [ ]:
9/4

With `6*6` we square `6`. Python has the exponential operator `**` to do this:

In [ ]:
6**2

We summarize some other mathematical operators in the following table:

| Operator | Meaning |
| :---: | :---: |
| `**` | exponent|
| `%` | remainder |
| `//` | integer division |

Execute the following code and try to understand how the result is obtained:

In [ ]:
13 % 4

In [ ]:
11 // 4

In [ ]:
37.58 % 6

Some important notes:
* we used a dot (`.`) and **not a comma** (`,`) to define a decimal number
* if you don't use a dot (`.`), Python recognizes it as an integer (whole number)
* there is **no rounding off** when using the `//` operator: only the integer part of the quotient is retained

Combinations of multiple operators are also possible:

In [ ]:
5 + 6**3 - 4

In [ ]:
7**2 + 1/(2 - 7/3)

These are called **expressions**. When executed, the value is shown.

## 1.3 Order of Operation

The **order of operation** that we've learned in mathematics applies in Python too.

The order is as follows (`x` is any number):

<!---
# 1. Parenthesis `()`
# 2. Exponents `**`
# 3. Multiplication `*`, division `/` and remainder `%`
# 4. Addition `+` and subtraction `-`
-->

| Priority | Operator(s) | Meaning |
| :---: | :---: | --- |
| 1 | `()` | parenthesis |
| 2 | `**` | exponent |
| 3 | `+`x, `-`x | unary +, unary - |
| 4 | `*`, `/`, `%`, `//` | multiplication, division, remainder, integer division |
| 5 | `+`, `-` | addition, substraction |

**Note:** the use of extra parenthesis can change the order of operation.

Try the following examples:

In [ ]:
1 + 2 * 3

In [ ]:
(1 + 2) * 3

In [ ]:
9**1/2

In [ ]:
9**(1/2)

Are the results what you expected? Try to explain.

## Variables

#### 2.2.1 Introduction
Until now we used integers, decimal numbers and strings but we never stored them somewhere. Variables store a value (numerical, text, logical, ...), that can be looked at (or changed) at a later time.

Some examples:

In [ ]:
g = 45
f = 3.14
s = "The time is 13:24."

These are so called **statements** (assignments). When we executed the code above we didn't get to see the values of the variables. In order to see their value, we have to print their value with the `print()` function:

In [ ]:
print(g)
print(f)
print(s)

Now we can play around with these variables.

Try the following expressions and statements:

In [ ]:
print(f + g - 17)

In [ ]:
print(2*g - f**4)

In [ ]:
M = 65
L = 1.73
BMI = round(M / L**2, 1)
print(BMI)

#### 2.2.2 Variable names
Some tips regarding variable names:
* start with a lowercase (`a`-`z`), uppercase (`A`-`Z`) or underscore (`_`),
* don't start with a number,
* don't use special characters (`√©`, `¬µ`, ...),
* after the first letter you may use any combination of letters (lower/uppercase), numbers and underscores

**Don't use keywords as variable names!** Some **forbidden** words are listed (alphabetically) below.

* and
* break
* def
* del
* elif
* else
* False
* for
* if
* import
* in
* is
* not
* or
* return
* True
* while

## 1.4 Built in functions
The Python Standard Library has some built in functions. Some of these useful functions are:

| Function | Meaning |
| :---: | --- |
| `len(x)` | **length** of x|
| `pow(x, n)` | x to the **power** n (x**n) |
| `abs(x)` | **absolute value** of x |
| `round(x, n)` | **round** x to n digits after the decimal point |
| `min(x, y, z, ...)` | the **minimum** value of x, y, z, ... |
| `max(x, y, z, ...)` | the **maximum** value of x, y, z, ... |

The following examples illustrate the use of these functions:

In [ ]:
pow(g, 3)

In [ ]:
pow(27, 1/3)

In [ ]:
print(len(s))

In [ ]:
round(3.14159, 3)

Note that the `round()` function applies **rounding rules**.

## 1.5 Input from user
Up to this point we decided what value we wanted to assign to a variable. The `input()` allows us to ask the user for input. The user input can be inserted through the keyboard.

When, for instance, `input("Some question")` is executed
* an input box with a blue edge will appear
* beneath the box the text `"Some question"` will appear
* the box stays visible until the user enters a value and presses `<return>`

Execute the following code and answer the question:

In [ ]:
age = input("What is your age? ")
type(age)

The function `type()` returns the datatype of the given variable.

Important notes:
* User input that is numeric in nature (decimal or integer numbers) is returned by `input()` **also as a string**.
* In order to perform numerical operations **type conversion** (see next section) has to be performed.

## 1.6 Type conversion

What is **type conversion**?
* Type conversion is changing the data type of a variable from one type to another.

When is type conversion necessary?
* **Data input and output:** converting user input to the correct type.
* **Arithmetic and logical operations:** ensuring the types are compatible for mathematical operations.

Python supports both **implicit** type conversion (automatically performed by Python) and **explicit** type conversion (done manually by the programmer).

Here's an example of **implicit** type conversion:

In [ ]:
x = 5
y = 3.2
z = x + y
type(z)

The variable `x` has datatype `int` while the variable `y` has datatype `float`. Python converts `x` to a float behind the scenes. That's why `z` has datatype `float`.

And here's an example of **explicit** type conversion:

In [ ]:
age = input("What is your age? ")
age = int(age)
type(age)

Some common type conversion functions are:

| Function | Description |
| :---: | :---: |
| `int()` | converts a value to an integer |
| `float()` | converts a value to a float |
| `str()` | converts a value to a string |

**Note:** not all strings can be converted to an `int` or a `float`. With the `isnumeric()` method we can check whether all characters of a string are numeric (ie. `0`, `1`, ..., `9`):

In [ ]:
s1 = "123"
print(s1.isnumeric())

s2 = "3.14"
print(s2.isnumeric())

Since `isnumeric()` returns `False` for `s2` it won't be possible to convert it to an `int`:

In [ ]:
int(s2)

Converting to a `float` won't be a problem:

In [ ]:
float(s2)

## 1.7 Modules

The Python Standard Library offers many functions via modules. The `math` module for instance contains elementary mathematical functions.

In order to use the functions of a module, the latter has to be imported first with the `import` function.

By executing:

In [ ]:
import math

the `math` module is imported.

Some of the available functions in the `math` module are listed in the following table:

| Function | Meaning |
| :---: | --- |
| `sin(x)`, `cos(x)`, `tan(x)` | trigonometric functions (`x` in **radians**)|
| `exp(x)` | exponential function|
| `log(x)`, `log10(x)` | logarithmic functions (base `e` or base `10`) |
| `degrees(x)`, `radians(x)` | conversion to degrees or radians |

**Important note:** all trigonometric functions expect an angle in radians. Don't forget to convert to radians with `radians()` when you work with angles in degrees!

The available functions can be used by preceding the name of the function with a dot `.` and the name of the module.

An example:

```Python
    math.exp(3)
```

Some other useful examples:

In [ ]:
print(math.pi)   # ùúã (3.3.1415...)
print(math.e)    # Euler constant (2.7182...)

## 1.6 Comments
Comments are important for adding necessary information for another programmer to read, but not the computer. Examples are:
* an explanation of a section of code (see last code cell), saying what it does, or what is wrong with it
* comment bits of code that you don't want to compile, but can't delete it because you might need/use it later.

We will use comments in almost all that follows.

## 1.7 Exercises
**Exercise 1**

Type in the cell below an expression to find out how many seconds there are in a 365-day year.

In [ ]:
# Hint: you should get 31536000 as a result

**Exercise 2**

Compute the following expression:

$$\frac{(6 + 4 \cdot 2)}{(1 - 5)^3}$$

In [ ]:
# Hint: you should get -1/4 = -0.25 as a result

**Exercise 3**

Given a time in seconds, type in the cell below expressions to convert this time into hoursminutes and seconds. For example, 7865 seconds is 2 hours, 11 minutes and 5 seconds.

In [ ]:
time = 7865

**Exercise 4**

The Earth can be approximated as a sphere with a radius of 6370 km. Use the cell below to find out the volume of such a shape in **cubic meters** ($m^3$). **Hint**: the volume $V$ of a sphere with radius $r$ is given by $V = \frac{4}{3}\pi r^3$. To get the value of $\pi$ use `math.pi` after importing the `math` module.

In [ ]:
import math

**Exercise 5**

A building at a distance of 115 m is observed under an angle of 30 degrees. Use the cell below to calculate the height $H$ of the building. **Hint**: convert the angle in degrees to an angle in radians using the `radians()` function.

In [ ]:
import math

< [Contents](0-Contents.ipynb) | [2 Datatypes](2-BasicDatatypes.ipynb) >